{% extends "base.html" %}
{% block title %}About · ABXTY AUDIT{% endblock %}

{% block content %}
<main class="about">
    <p>
        I'm a 19-year-old CS student and spend about 90% of my life listening to music. I wanted to build This
        site to highlight some of the best, but most underappreciated artists in the Uk scene right now
        (and for a portfolio placement project)
    </p>

    <p>
        The UK underground scene right now is generational. The best it's ever been. The fact we have 
        artists performing, producing and recording their own tracks at as young as 16 is an incredible sight.
        I make beats myself, mainly hiphop related, so for me what I appreciate most in a track is how the beat was 
        thought out, what did the producer do to achieve that sound. That doesn't nessacarily mean it has to be complex,
        as sometimes simple beats are the most impressive for what they achieve, it's more about how intentional the music if for me.
    </p>

    <p>
        I want to explain my thought process behind my reviews and ratings as well, so they make more sense to you.
        When reviewing an album, I base my rating off of one of two factors: if the album was made to be a concept album or if each track
        is related, i will base my rating on how the overall listening experience was, and how the successfully the artists message came across. However if the album is more a collection of seperate tracks,
        I will rate each track, and then find the average rating for the album. The main factors I will consider in my review are: The quality of the performance,
        How the beat compliments the performance but moreso simply if the beat sounds good, how the track compares to the artists other tracks and
        if the track is pushing the needle, and doing something new. My system and process will probably change as I make more reviews, but for now this is the formula.
    </p>

    <p>
        I've just developed a comment section as well for each review so let me know your thoughts on my reviews or any suggestions for
        new tracks or artists I should tap into or review.
    </p>
</main>
{% endblock %}