<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ABXTY AUDIT{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>ABXTY AUDIT</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/blogs">All Reviews</a>
            <a href="/about">About</a>
        </nav>
    </header>

    {% block content %}{% endblock %}
</body>
</html>