{% extends "base.html" %}
{% block title %}Home · ABXTY AUDIT{% endblock %}

{% block content %}
<main>
    <section class="intro">
        <p>
            Weekly reviews of underground UK music currently in my rotation.
        </p>

        <p>
            <br>
            most Recent Review:
        </p>
    </section>

    <section class="track-grid">
        <p>
            <a href="/review/{{ track.id }}" class="track-link">
                <article class="track-card featured">
                    <img src="{{ url_for('static', filename=track.image_path) }}">
                    <h2>{{ track.Track_name }}</h2>
                    <p>{{ track.Track_artist }}</p>
                </article>
            </a>
    </section>
</main>
{% endblock %}